.chatUsersPanel {
  grid-area: chatUsersPanel;
  display: flex;
  background-color: #e6eff3;
  border: solid 1px var(--separators-clr);
  margin-left: var(--chat-gap);
  width: clamp(200px, 20vw, 250px);

  & ul {
    flex: 1;
  }

  .displayedContact {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "avatar username . ."
      "avatar personalSentence personalSentence personalSentence";
    padding: 8px;
    border: 1px solid transparent;
    user-select: none;

    &:nth-child(even) {
      background-color: #e8faff;
    }


    &:nth-child(odd) {
      background-color: #e8faff;
    }

    & > :not(:nth-child(1)) {
      padding-inline: 4px;
    }

    & > :nth-child(1) {
      grid-area: avatar;
      margin-right: 10px;
      position: relative;

      & > :nth-child(2) {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        border-top: solid 1px #D8D9D9;
        border-right: solid 1px #D8D9D9;
        display: grid;
        place-items: center;
        top: -8px;
        right: -8px;
        padding: 2px;

        & img {
          height: 13px;
          width: 13px;
        }
      }
    }

    & > :nth-child(2) {
      grid-area: username;
      font-weight: 500;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > :nth-child(3) {
      grid-area: personalSentence;
      font-size: clamp(0.8rem, 0.9rem - 0.2vw, 0.9rem);
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (width < 700px) {
  .chatUsersPanel {
    display: none;
  }
}