.login {
  flex: 1;
  display: grid;
  place-items: center;
}

.login .submitContainer {
  align-items: center !important;
}

.avatar {
  margin-inline: auto;
}

.autoConnect {
  display: flex;
  align-items: center;
  gap: 5px;
}