.chat {
  --chat-gap: 8px;
  padding: 0px var(--chat-gap) var(--chat-gap);
  flex: 1;
  max-width: none;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  row-gap: var(--chat-gap);
  background-color: #ecf3f6;

  position: relative;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: #55759c;
  max-width: 1000px;

  &::before {
    position: absolute;
    content: "";
    inset: 0px;
    pointer-events: none;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: rgba(148, 157, 188, 0.38);
    z-index: 0;
  }

  &.oneToOne {
    grid-template-columns: 1fr;
    grid-template-areas:
      "chatHeader chatHeader"
      "chatOptions chatOptions"
      "displayMessages displayMessages"
      "sendMessage sendMessage";
  }

  &.manyToMany {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "chatHeader chatHeader"
      "chatOptions chatOptions"
      "displayMessages chatUsersPanel"
      "sendMessage sendMessage";
  }
}

@media (width < 700px) {
  .chat {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "chatHeader"
      "chatOptions"
      "displayMessages"
      "sendMessage";
  }
}