.chat {
  --chat-gap: 8px;
  padding-inline: var(--chat-gap);
  flex: 1;
  max-width: none;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "chatHeader chatHeader"
    "chatOptions chatOptions"
    "displayMessages chatAvatars"
    "sendMessage chatAvatars";
  gap: var(--chat-gap);
  padding-bottom: var(--chat-gap);
  background-color: #ecf3f6;
}