.header {
  padding: 7px;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  user-select: none;

  & .title {
    font-size: clamp(0.9rem, 1rem - 0.2vw, 1rem);
    font-weight: 400;

    & b {
      font-weight: 500;
    }
  }
}