.chatForm {
  grid-area: sendMessage;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  --clr-textarea: rgb(234, 251, 255);
  background-color: var(--clr-textarea);
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(180deg,
      rgba(44, 98, 138, 1) 0%,
      rgba(44, 98, 138, 0.58) 50%,
      rgba(44, 98, 138, 0.42) 60%,
      var(--separators-clr) 100%) 1;


  & textarea {
    background-color: var(--clr-textarea);
    position: relative;
    z-index: 11;
    flex: 1;
    height: 50px;
    padding: var(--chat-gap);
    resize: none;
    border: none;
    font-size: clamp(1rem, 1.1rem - 0.2vw, 1.1rem);
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  .submitButton {
    align-self: center;
  }

  & small {
    width: 100%;
    color: red;
    height: 20px;
  }
}