.chatForm {
  position: relative;
  grid-area: sendMessage;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "options options"
    "textarea button"
    "error error"
  ;
  flex-direction: column;
  background-color: white;
  --clr-textarea: rgb(234, 251, 255);
  background-color: var(--clr-textarea);
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(180deg,
      rgba(44, 98, 138, 0.6) 0%,
      rgba(44, 98, 138, 0.58) 50%,
      rgba(44, 98, 138, 0.42) 60%,
      var(--separators-clr) 100%) 1;

  & > :nth-child(1) {
    background-color: red;
    grid-area: options;
  }

  & textarea {
    grid-area: textarea;
    background-color: var(--clr-textarea);
    position: relative;
    z-index: 11;
    height: 40px;
    padding: var(--chat-gap);
    resize: none;
    border: none;
    font-size: clamp(1rem, 1.1rem - 0.2vw, 1.1rem);
    font-weight: 500;
    overflow-y: scroll;

    &:focus {
      outline: none;
    }
  }

  .submitButton {
    display: none;
  }

  @media (width < 750px) {
    .submitButton {
      display: block;
      grid-area: button;
      padding: 5px 10px;
      background-color: #0088e0;

      &:active {
        background-color: #0086e0b6;
      }

      & svg {
        transition: 200ms;

        & path {
          fill: white;
        }
      }
    }
  }

  & small {
    grid-area: error;
    width: 100%;
    color: red;
    /* height: 20px; */
  }
}