.chatForm {
  grid-area: sendMessage;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: solid 1px var(--separators-clr);

  & textarea {
    flex: 1;
    padding: var(--chat-gap);
    resize: none;
    border: none;
    font-size: clamp(1rem, 1.1rem - 0.2vw, 1.1rem);
    font-weight: 500;

    &:focus {

      outline: none;
    }
  }

  .submitButton {
    align-self: center;
  }

  & small {
    width: 100%;
    color: red;
    height: 20px;
  }
}