.systemMessage {
  display: flex;
  align-items: center;
  gap: var(--chat-gap);

  &:not(:first-child) {
    margin-top: var(--chat-gap);
  }

  .icon {
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .text {
    display: flex;
    align-items: center;
    font-weight: 500;
    opacity: 0.8;
  }

  .date {
    margin-left: auto;
    justify-self: right;
    white-space: nowrap;
    font-weight: bold;
    opacity: 0.6;
    font-size: clamp(0.7rem, 0.8rem - 0.2vw, 0.8rem);
    align-self: center;
  }
}