.readByList {
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(196, 196, 196);
  position: absolute;
  bottom: 100%;
  left: 0;
  user-select: none;
  cursor: default;
  min-width: 125px;
  max-width: 250px;

  & li {
    padding-top: 5px;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    justify-content: flex-start;

    &:last-child {
      padding-bottom: 5px;
    }

    & > :nth-child(1) {
      flex-shrink: 0;
    }

    & > :nth-child(3) {
      flex-shrink: 0;
    }

    & p {
      font-size: clamp(0.8rem, 0.9rem - 0.2vw, 0.9rem);
      font-weight: bold;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: auto;
    }
  }
}