.selectAvatar {
  display: flex;
  flex-direction: column;
}

.selectAvatar .previewLabel {
  position: relative;
  align-self: center;
  margin-bottom: 0;
  cursor: pointer;
}

.previewLabel img {
  transition: 150ms linear;
}

.previewLabel:hover img {
  filter: blur(1px) grayscale(0.5);
}

.previewLabel:hover > div:nth-child(2) {
  transform: scale(1.05);
  background: linear-gradient(180deg,
      #c8e8f0 0 50%,
      #c0e0f0 50% 100%)
}

.addFileInput {
  display: none;
}



.avatar {
  margin-inline: auto;
  margin-bottom: var(--gap);
}

.avatars {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 5px;
  justify-content: space-around;
  min-height: 85px;
}

.defaultPictureButton {
  background-color: transparent;
  border: solid 2px transparent;
  width: 40px;
  height: 40px;
}

.defaultPictureButton:hover {
  border-color: #55759C;
}