.OAuthPending {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--modale-gap);

  & small {
    color: red;
  }
}

.container {
  flex: 1;
  display: grid;
  place-items: center;
}