.menu {
  --menu-vertical-gap: 10px;
  align-items: stretch;
  flex: 1;
  padding-inline: 8px;
  gap: var(--menu-vertical-gap);
  display: flex;
  flex-direction: column;
  max-width: 325px;
}

@media (width < 850px) {
  .menu {
    max-width: none;

    &.closedInMobile {
      display: none;
    }
  }
}