.disconnectButton {
  margin-left: auto;
  background-color: transparent;
  border: none;

  &::disabled path {
    fill: #C1C1C1;
  }

  &:hover path {
    fill: white;
  }

  & svg {
    height: clamp(20px, 35px - 2.5vw, 30px);
    position: relative;
    left: 4px;
    top: 1px;
  }

  & path {
    transition: 200ms;
    fill: rgb(233, 233, 233);
  }
}