.chatMessagesContainer {
  grid-area: displayMessages;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  overflow-y: auto;
  background-color: white;
  padding: var(--chat-gap);
  border: solid 1px var(--separators-clr);
  row-gap: var(--chat-gap);
  overflow: auto;
  flex: 1;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 300px;
}

@media (width < 750px) {
  .chatMessages {
    min-width: auto;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}

.container {
  overflow-y: auto;
  flex: 1;
}