.instructions {
  flex: 1;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.instructions div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions h2 {
  font-size: clamp(0.7rem, 0.9rem - 0.1vw, 0.8rem);
}

.instructions p {
  font-size: clamp(0.8rem, 0.9rem - 0.2vw, 1rem);
}