.form {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  --gap: 30px;
  gap: var(--gap);
  padding-top: clamp(1rem, 0.5vw, 1.5rem);
  margin-top: var(--gap);
  padding-inline: var(--padding-inline-form);
  background-color: white;
  justify-content: center;
  border-bottom: solid 1px var(--separators-clr);
}

.form label {
  margin-bottom: calc(var(--gap) * -1);
  font-size: clamp(0.9rem, 1rem - 0.2vw, 1rem);
}

.form label:first-child {
  margin-top: auto;
}

.form input {
  border: solid 1px #AAB7C7;
  height: clamp(25px, 35px - 1.5vw, 30px);
  padding-inline: 5px;
  font-size: 0.9rem;
}

.form input:focus {
  outline-color: #AAB7C7;
}

.form small {
  color: red;
  margin-top: calc(var(--gap) * -1);
  font-style: italic;
  font-size: clamp(0.8rem, 0.9rem - 0.2vw, 0.9rem);
  min-height: 20px;
}

.form hr {
  margin-top: auto;
  background-color: var(--separators-clr);
  height: 1px;
  border: none;
  margin-bottom: calc(var(--gap) * -1);
  margin-inline: calc(var(--padding-inline-form) * -1);
}

.form > button:last-child {
  align-self: flex-end;
  margin-block: 10px;
  width: auto;
}