.form {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  --error-min-height: 20px;
  gap: var(--modale-gap);
  justify-content: center;
}

.form > :first-child {
  margin-top: auto;
}

.form label {
  font-size: clamp(0.9rem, 1rem - 0.2vw, 1rem);
}

.form input:not([type="checkbox"]) {
  border: solid 1px #AAB7C7;
  height: clamp(30px, 40px - 1vw, 35px);
  padding-inline: 5px;
  font-size: 0.9rem;
  width: 100%;
}

.form input:focus {
  outline-color: #AAB7C7;
}

.form small {
  display: block;
  color: red;
}

.form > button:last-child {
  margin-top: auto;
  align-self: flex-end;
  width: auto;
}

.form > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}