.form {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  --gap: 30px;
  --error-min-height: 20px;
  --padding-inline-form: clamp(0.5rem, 15vw - 3vmax, 5rem);
  padding-inline: var(--padding-inline-form);
  padding-block: var(--gap);
  gap: var(--gap);
  justify-content: center;
  border-bottom: solid 1px var(--separators-clr);
}

.form > :first-child {
  margin-top: auto;
}

.form label {
  font-size: clamp(0.9rem, 1rem - 0.2vw, 1rem);
}

.form input:not([type="checkbox"]) {
  border: solid 1px #AAB7C7;
  height: clamp(25px, 35px - 1.5vw, 30px);
  padding-inline: 5px;
  font-size: 0.9rem;
  width: 100%;
}

.form input:focus {
  outline-color: #AAB7C7;
}

.form small {
  display: block;
  color: red;
  font-style: italic;
  font-size: clamp(0.8rem, 0.9rem - 0.2vw, 0.9rem);
  min-height: var(--error-min-height)
}

.form > button:last-child {
  margin-top: auto;
  align-self: flex-end;
  width: auto;
}

.form > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}