.accountVerify {
  flex: 1;
  display: grid;
  place-items: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--modale-gap);
}

.content small {
  color: red;
}