.checkbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background-color: #f8f8f8;
  border: solid 1px #888888;
  margin-right: 4px;
  width: 13px;
  height: 13px;
  width: clamp(13px, 20px - 0.2vw, 20px);
  height: clamp(13px, 20px - 0.2vw, 20px);


  &:hover::before {
    border-color: #88d0f8;
    box-shadow: 0 0 0 1px #c8e8f0;
  }

  &:checked::after {
    background: url("./checkbox_icon.png") no-repeat;
    background-position: center;
    background-size: clamp(6px, 15px - 0.2vw, 9px);
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    inset: 1px;
    border: solid 1px #d8d8d8;
  }

  &::after {
    inset: 0px;
  }
}