.addFileLabel {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  font-weight: bold;
  background: linear-gradient(180deg,
      #f0f0f0 0%,
      #e8e8e8 53.46%,
      #dbdbdb 57.17%,
      #e8e8e8 82.5%);
  border-radius: 50%;
}

.addFileLabel:hover {
  background: linear-gradient(180deg,
      #c8e8f0 0 50%,
      #c0e0f0 50% 100%)
}

.addFileInput {
  display: none;
}