.chatMessage {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto;
  column-gap: var(--chat-gap);
  grid-template-areas:
    "avatar username createdAt"
    "avatar message message";
  align-content: space-between;

  &:not(:first-child) {
    margin-top: var(--chat-gap);
  }

  & > :nth-child(1) {
    grid-area: avatar;
  }

  & > :nth-child(2) {
    grid-area: username;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    position: relative;
    bottom: 3px;
  }

  & > :nth-child(3) {
    grid-area: message;
    margin-right: 10px;
  }

  & > :nth-child(4) {
    grid-area: createdAt;
    justify-self: right;
    white-space: nowrap;
    font-weight: bold;
    opacity: 0.6;
    font-size: clamp(0.7rem, 0.8rem - 0.2vw, 0.8rem);
    align-self: center;
  }
}

.text {
  position: relative;
  padding: 1px 8px;
  width: fit-content;
  border-radius: 4px;
  border: solid 1px #bed6e0b0;

  .read {
    position: absolute;
    right: -7px;
    bottom: -5px;
  }

  & path {
    fill: black;
  }
}

.simpleChatMessage {
  padding-inline: var(--chat-gap);
  display: flex;

  &:hover > .date {
    opacity: 1;
  }

  & > .date {
    opacity: 0;
    width: 50px;
  }
}