.chatMessage {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto;
  column-gap: var(--chat-gap);
  grid-template-areas:
    "avatar username createdAt"
    "avatar message message"
  ;

  &:not(:first-child) {
    margin-top: var(--chat-gap);
  }

  & > :nth-child(1) {
    grid-area: avatar;
  }

  & > :nth-child(2) {
    grid-area: username;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > :nth-child(3) {
    grid-area: message;
    margin-right: 10px;
  }

  & > :nth-child(4) {
    grid-area: createdAt;
    justify-self: right;
    white-space: nowrap;
  }
}

.text {
  position: relative;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0 0 2px #bed6e0;

  svg {
    position: absolute;
    right: -7px;
    bottom: 0px;
  }

  & path {
    fill: black;
  }
}

.simpleChatMessage {
  padding-inline: var(--chat-gap);
  display: flex;

  &:hover > .date {
    opacity: 1;
  }

  & > .date {
    opacity: 0;
    width: 45px;
  }
}