.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
  z-index: 999;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 275px;
  max-width: 400px;
  width: 100%;
  border: solid 1px #55759C;
  background-color: white;
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;
  background: url("./header-background.jpg");
  background-size: cover;
  height: 40px;
  height: clamp(40px, 55px - 2vw, 50px);
  user-select: none;
  border-bottom: solid 1px var(--separators-clr);
  padding-inline: 10px;
}

.header h1 {
  font-size: clamp(0.8rem, 0.9rem - 0.2vw, 0.9rem);
  font-weight: bold;
}

.header img {
  height: 31px;
}

.header button {
  margin-left: auto;
}