.container {
  flex: 1;
  display: grid;
  place-items: center;
}

.sendEmailVerification {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 30px;
}

.submitButtonContainer {
  margin-top: auto;
}