.messageNotification {
  --messageNotificationGap: 8px;
  transition: 100ms;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "avatar name name"
    "avatar username message";
  align-content: space-between;
  align-items: center;

  & .avatar {
    grid-area: avatar;
  }

  & .name {
    color: black;
    grid-area: name;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: var(--messageNotificationGap);
  }

  & .username {
    grid-area: username;
    color: black;
    font-weight: bold;
    font-style: normal !important;
    margin-left: var(--messageNotificationGap);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
  }

  & .message {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-area: message;
    margin-left: var(--messageNotificationGap);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .icon {
    display: flex;
    justify-content: center;
  }

  & .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:global(.Toastify__toast-theme--light) {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(180deg,
      rgba(44, 98, 138, 0.6) 0%,
      rgba(44, 98, 138, 0.58) 50%,
      rgba(44, 98, 138, 0.42) 60%,
      var(--separators-clr) 100%) 1;

  &:hover {
    transition: 100ms;
    background-color: #ecf3f6;
  }

  &:hover .messageNotification {
    filter: drop-shadow(3px 3px 1px rgba(119, 119, 119, 0.2));
  }
}

:global(.Toastify__toast) {
  font-family: inherit;
}

:global(.Toastify__toast-container--top-right) {
  top: 0;
  right: 0;
}

:global(.Toastify__close-button) {
  & svg {
    max-width: 14px;
    max-height: 16px;
  }
}