body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100dvh;
  padding-inline: clamp(0.5rem, 3vw, 1rem);
  display: flex;
  flex-direction: column;
}