body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --separators-clr: #BED6E0;
}

#root {
  min-height: 100dvh;
  padding: clamp(0.5rem, 3vw, 1rem);
  display: flex;
  flex-direction: column;
}