.chatHeader {
  grid-area: chatHeader;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  column-gap: var(--chat-gap);
  grid-template-areas:
    "logo infos closeButton"
    "logo infos .";
  margin-inline: calc(var(--chat-gap) * -1);
  padding: var(--chat-gap);
  background: url("/header-background.jpg");
  background-size: cover;

  & .image {
    grid-area: logo;
  }

  & .singleInfos {
    grid-area: infos;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--chat-gap);
    grid-template-areas:
      "pseudo status"
      "personalSentence personalSentence";
    gap: var(--chat-gap);

    & .pseudo {
      grid-area: pseudo;
      font-weight: 500;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .status {
      grid-area: status;
      white-space: nowrap;
      justify-self: flex-start;
      display: flex;
      align-items: center;

      & > :nth-child(1) {
        margin-right: calc(var(--chat-gap) / 2);
      }

      & > :nth-child(2) {
        width: 16px;
        height: 16px;
      }
    }

    & .personalSentence {
      grid-area: personalSentence;
      flex: 1;
      max-width: 100%;
      font-size: clamp(0.8rem, 0.9rem - 0.2vw, 0.9rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .multiInfos {
    grid-area: infos;
  }

  & .closeButton {
    grid-area: closeButton;
  }

  & > :nth-child(5) {
    grid-area: closeButton;
  }
}